<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    class="text-white py-2 px-3 d-flex align-items-center border border-bottom"
  >
    <img
      alt="Profile picture of a person"
      class="rounded-circle mr-3"
      height="40"
      src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-acGZK8FNk1kD5PYxzCEIhvBB.png?st=2024-09-07T00%3A23%3A09Z&amp;se=2024-09-07T02%3A23%3A09Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-06T21%3A43%3A31Z&amp;ske=2024-09-07T21%3A43%3A31Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=1yh2Nu/fyaBHe1zreXi%2B1C/bWXzxkIQXKiIVuLSKegs%3D"
      width="40"
    />
    <div class="flex-grow-1 ms-2">
      <div class="d-flex justify-content-between">
        <span class="font-weight-bold">Axley</span>
        <span class="text-muted small">01:11</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="font-weight-bold"
          ><i class="fa fa-spin"></i> Hola como estás?</span
        >
        <span class="text-muted small">icon</span>
      </div>
    </div>
  </div>
  <div
    class="text-white py-2 px-3 d-flex align-items-center border border-bottom"
  >
    <img
      alt="Profile picture of a person"
      class="rounded-circle mr-3"
      height="40"
      src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-acGZK8FNk1kD5PYxzCEIhvBB.png?st=2024-09-07T00%3A23%3A09Z&amp;se=2024-09-07T02%3A23%3A09Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-06T21%3A43%3A31Z&amp;ske=2024-09-07T21%3A43%3A31Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=1yh2Nu/fyaBHe1zreXi%2B1C/bWXzxkIQXKiIVuLSKegs%3D"
      width="40"
    />
    <div class="flex-grow-1 ms-2">
      <div class="d-flex justify-content-between">
        <span class="font-weight-bold">Laura</span>
        <span class="text-muted small">12:11</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="font-weight-bold"><i class="fa fa-spin"></i> Amor?</span>
        <span class="text-muted small">icon</span>
      </div>
    </div>
  </div>
</ion-content>
