<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Mi imagen" src="assets/logo.app.png" width="100%" />
    <ion-card-header>
      <ion-card-title>Inicie Sesión</ion-card-title>
      <ion-card-subtitle>Introduzca sus credenciales</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-input
        labelPlacement="floating"
        style="text-align: start"
        [(ngModel)]="user.email"
      >
        <div slot="label">Correo Electrónico</div>
      </ion-input>

      <ion-input
        style="text-align: start"
        type="password"
        labelPlacement="floating"
        [(ngModel)]="user.password"
      >
        <div slot="label">Contraseña</div>
      </ion-input>

      <ion-button
        class="ion-padding"
        (click)="login(user)"
        expand="full"
        fill="solid"
        shape="round"
      >
        Iniciar Sesión
      </ion-button>

      <ion-button
        (click)="navigateToRegister()"
        expand="block"
        fill="clear"
        shape="round"
      >
        Registrarme
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
